    {#
        Inherits the following form theme
        See: https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
    #}
    {% use 'form_div_layout.html.twig' %}
    {# Input #}
    {%- block form_widget_simple -%}
        {%- set type = type|default('text') -%}
        {%- if type == 'range' or type == 'color' -%}
            {# Attribute "required" is not supported #}
            {%- set required = false -%}
        {%- endif -%}
        {% if type != 'hidden' %}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input')|trim}) -%}
        {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {%- endblock form_widget_simple -%}
    {# Textarea #}
    {%- block textarea_widget -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' textarea')|trim}) -%}
        {{ parent() }}
    {%- endblock textarea_widget -%}
    {# Select #}
    {%- block choice_widget_collapsed -%}
        <div class="select is-fullwidth {{ multiple ? "is-multiple" : "" }}">
            {{ parent() }}
        </div>
    {%- endblock choice_widget_collapsed -%}
    {# Expanded select: radio/checkbox #}
    {%- block choice_widget_expanded -%}
        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                <div class="field">
                    <div class="control">
                        {{- form_widget(child) -}}
                        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                    </div>
                </div>
            {% endfor -%}
        </div>
    {%- endblock choice_widget_expanded -%}
    {# Checkbox #}
    {%- block checkbox_widget -%}
        <label for="{{ id }}" class="checkbox">
            {{ parent() }}
            {{ label }}
        </label>
    {%- endblock checkbox_widget -%}
    {# Label #}
    {%- block form_label -%}
        {% if block_prefixes[1] != 'checkbox' %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' label')|trim}) %}
            {{ parent() }}
        {% endif %}
    {%- endblock form_label -%}
    {# Help #}
    {% block form_help -%}
        {% if help is not empty %}
            <div class="tags has-addons">
                <span class="tag is-info">
                    <i class="far fa-question-circle"></i>
                </span>
                <span class="tag">
                    {{ help }}
                </span>
            </div>
        {% endif %}
    {%- endblock form_help %}
    {# Row #}
    {%- block form_row -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div {% with {attr: row_attr|default({})|merge({class: (attr.class|default('') ~ ' field')|trim})} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="control">
                {{- form_widget(form, widget_attr) -}}
            </div>
            {{- form_help(form) -}}
            {{- form_errors(form) -}}
        </div>
    {%- endblock form_row -%}
    {# Add input invalid class #}
    {%- block widget_attributes -%}
        {%- if not valid %}
            {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-danger')|trim}) %}
        {% endif -%}
        {{ parent() }}
    {%- endblock widget_attributes -%}
    {# Errors #}
    {%- block form_errors -%}
        {%- if errors|length > 0 -%}
            {%- for error in errors -%}
                <p class="help is-danger">
                    <span class="tag is-danger">ERREUR</span>
                    {{ error.message }}
                </p>
            {%- endfor -%}
        {%- endif -%}
    {%- endblock form_errors -%}